body{
    background-color: rgb(240, 247, 247);
}
#nav{
    height: 15%;
    width: 100%;
    border: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(99, 74, 74);
    color: white;

}   
.bar{
    padding-top: 2%;
    text-decoration: none;
    color: white; 
    position: relative; 
    display: flex;
    top: 13%;
}
.daily{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    width: 25%;
    border: 1px solid black;
    height: 40%;
    left: 5%;
    padding: 1.5%;
    
}
.price{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    width: 25%;
    border: 1px solid black;
    height: 32%;
    left: 5%;
    padding: 1.5%;
}

.gen{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 500px;
    top: 40;
}
#outputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    position: absolute;
    background-color: yellow;
    top: 25%;
    left: 50%;

}
.outarea{ 
    display: flex;
    justify-content: space-between;
    padding: 2%;

}
.h4{
    display: flex;
    position: relative;
    left: 15%;
}
 .formhead{
    display: flex;
    position: relative;
    width: 60%;
    left: 5%;
 }
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    /*background-color: red;*/
    width: 25%;
    height: 60%;
    border: 1px solid black;
    padding: 3%;
    left: 5%;
    top: 20%;
    
}

#inputs{
    font-size: 20px;
    font-weight: 700px;
    font-family: cursive;
    padding: 20px;
    justify-content: center;
}
.label1, .label2, .label3, .label4, .label5{
    width: 150px;
    height: 25px;
    padding: 8px;
    
}
table{
    border-collapse: collapse;
    width: 55%;
    background-color: rgb(215, 228, 228);
    position: relative;
    left:40%;
    top: -70%;
}

table, th, td{
    border: 1.5px solid whitesmoke;
    padding: 5px;
    height: 25px;
}
 form input{
    margin: 2%;
    cursor: pointer;
 }
 